# Database (SQLite pour dev, PostgreSQL pour prod)
DATABASE_URL="file:./dev.db"

# NextAuth v5
NEXTAUTH_SECRET="votre-secret-nextauth-ici-min-32-caracteres"
NEXTAUTH_URL="http://localhost:3000"

# Sécurité Cron
CRON_SECRET="votre-secret-cron-ultra-securisé"

# App
APP_URL="http://localhost:3000"